# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
firstVersion
*.zip
*.rar
*.jpg
*.png
*.txt
update.ts


!src/textures/
!src/textures/PowerUps/Bomb/metal_0074_color_1k.jpg
!src/textures/PowerUps/Bomb/metal_0074_ao_1k.jpg
!src/textures/PowerUps/Bomb/metal_0074_normal_directx_1k.png
!src/textures/PowerUps/Bomb/Lava004_1K-JPG_Color.jpg
!src/textures/PowerUps/Bomb/Lava004_1K-JPG_NormalDX.jpg
!src/textures/StacticObjects/PowerBox/wood_0004_normal_directx_1k.png
!src/textures/StacticObjects/PowerBox/wood_0004_ao_1k.jpg
!src/textures/StacticObjects/PowerBox/wood_0004_color_1k.jpg
!src/textures/StacticObjects/PowerBox/wood_0006_color_1k.jpg
!src/textures/StacticObjects/PowerBox/wood_0006_ao_1k.jpg
!src/textures/StacticObjects/PowerBox/wood_0006_normal_directx_1k.png
!src/textures/StacticObjects/Ground/aerial_rocks_01_diff_1k.jpg
!src/textures/StacticObjects/Ground/aerial_rocks_01_ao_1k.jpg
!src/textures/StacticObjects/Ground/aerial_rocks_01_nor_gl_1k.jpg
!src/textures/Kar/metal_0081_ao_1k.jpg
!src/textures/Kar/metal_0081_normal_directx_1k.png
!src/textures/Kar/Metal033_1K-JPG_Color.jpg
!src/textures/Kar/Metal033_1K-JPG_NormalGL.jpg
!src/textures/Kar/metal_0002_color_1k.jpg
!src/textures/Kar/metal_0002_normal_directx_1k.png
!src/textures/Kar/decals_0008_color_1k.jpg
!src/textures/Kar/decals_0008_normal_directx_1k.png
!src/textures/Kar/plastic_0022_ao_1k.jpg
!src/textures/Kar/plastic_0022_normal_1k.jpg
!src/textures/StacticObjects/RaceTrack/Road007_1K-JPG_Color.jpg
!src/textures/StacticObjects/RaceTrack/Road007_1K-JPG_NormalDX.jpg
!src/textures/Sky/autumn_hill_view_1k.hdr
!src/textures/Sky/Cubemap/Cubemap_Sky_05-512x512.png
!src/textures/StacticObjects/Conne/plastic_0020_ao_1k.jpg
!src/textures/StacticObjects/Conne/plastic_0020_normal_direct_1k.png
!src/textures/StacticObjects/Usb/others_0013_color_1k.jpg
!src/textures/StacticObjects/Usb/others_0013_ao_1k.jpg
!src/textures/StacticObjects/Usb/others_0013_normal_directx_1k.png
!src/textures/StacticObjects/Walls/bricks_0007_color_1k.jpg
!src/textures/StacticObjects/Walls/bricks_0007_ao_1k.jpg
!src/textures/StacticObjects/Walls/bricks_0007_normal_directx_1k.png
!src/textures/StacticObjects/Walls/bricks_0007_roughness_1k.jpg
!src/textures/StacticObjects/Walls/bricks_0007_metalness_1k.jpg
!src/textures/PowerUps/Coffee/Marble021_1K-JPG_Color.jpg
!src/textures/PowerUps/Coffee/Marble021_1K-JPG_NormalDX.jpg